{{define "subject"}}Reset Your Password{{end}}

{{define "plainBody"}}
Hi,

You requested a password reset for your account. Please send a `PUT` request to the `/v1/users/password` endpoint with the following JSON body to set a new password:

{"token": "{{.passwordResetToken}}", "password": "YourNewPassword"}

This token is valid for 45 minutes.

If you did not request a password reset, please ignore this email.

Thanks,
The Comments Community Team
{{end}}

{{define "htmlBody"}}
<!doctype html>
<html>
<head>
    <meta name="viewport" content="width=device-width" />
    <meta http-equiv="Content-Type" content="text/html; charset=UTF-8" />
</head>
<body>
    <p>Hi,</p>
    <p>You requested a password reset for your account. Please send a <code>PUT</code> request to the <code>/v1/users/password</code> endpoint with the following JSON body to set a new password:</p>
    <pre><code>{"token": "{{.passwordResetToken}}", "password": "YourNewPassword"}</code></pre>
    <p>This token is valid for <strong>45 minutes</strong>.</p>
    <p>If you did not request a password reset, please ignore this email.</p>
    <p>Thanks,</p>
    <p>The Comments Community Team</p>
</body>
</html>
{{end}}